body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	text-align: justify;
}
.wrapper {
	margin: 0 auto;
	max-width: 1000px;
}
video {
	width: 100%;
	margin: 0;
}
#transcript{
	padding: 20px;
}
#transcript p{
	display: inline;
	line-height: 1.8em;
}
button:focus {
	outline:0;
}

/****************Video Player*********************/
#Video1 {
    margin-bottom: -92px;
	position: relative;
	z-index: -100;
}
#progress {
	height: 5px;
	width: 100%;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	background: rgba(255, 255, 255, .1);
    border-radius: 3px;
	border: none;
	color: orange;
}
#progress::-webkit-progress-bar {
    background: rgba(255, 255, 255, .1);
    border-radius: 3px;
}
#progress::-webkit-progress-value {
    background-color: orange;
}
#progress::-moz-progress-bar {
    background-color: orange;
}
#buttonbar {
	margin-top: -7px;
    width: 100%;
	height: 60px;
    background-color: rgba(0, 0, 0, .5);
	position: relative;
}
#buttonbar .left-side,
#buttonbar .right-side {
	height: 100%;
}
#buttonbar .left-side {
	position: absolute;
	left: 0;
}
#buttonbar .right-side {
	position: absolute;
	right: 0;
}
#buttonbar > * > * {
	margin: 0 10px;
	height: 100%;
	background: none;
	border: none;
}
#buttonbar #currentTime {
	color: white;
	font-size: .7em;
}
#play-pause {
	width: 22px;
}
#play-pause img {
	margin-bottom: -5px;
}
.highlight {
    color: orange;
}
/********************Media Queries**********************/
@media screen and (max-width: 768px) {
	#transcript p{
		line-height: 1em;
		font-size: .8em;
	}
}